body{
    border-width: 5px;;
    border-color: gray;
}
h1{
    color: #55AC7D;
    text-align: center;
    padding-top: 50px;
}
a{
color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: #FA707C;
}
img{
    display: flex;
    max-width: 250px;
}
p{
    display: flex;
    justify-content: center;
}
/*.nav-links{
    display: flex;
    justify-content: center;
}*/